{%extends "registration/base.html"%}
{% block content %}
    {% for image in images%}
    {% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
            <div class="eng">
                    
                    <a href=""><i class="far fa-heart"></i></a>
                    <a href=""><i class="far fa-comment"></i></a>
                    <a href=""><i class="far fa-share-square"></i></a>
                    <a href=""><i class="far fa-bookmark"></i></a>



            </div>
            <div class="likes">
                <a href="">12</a>
            </div>
            <div class="caption">
                <a href=""><h2>{{Post.author }}</h2></a>
                <span><p>{{post.caption}}</p></span>
            </div>
            <div class="time_posted">
                {{ post.created_date | timesince }} ago

            </div>
        </div>
        
    {% endfor%}