{% extends './all-pics/base.html' %}
{% load bootstrap4 %}
{% load static%}
  
  

{% block content %}
{{ block.super}}

<div class="container-fluid landing">
  <h2 class="text-center imagea">INSTAGRAM</h2>

</div>


<div class="container-fluid">
  <hr>

  {% if images %}
  <div class="row">
    {% for image in images %}
    
    <div class="card" width="500px" style="margin-bottom:30px; margin:30px; height: 600px;">
        <img class="card-image text-center" height="400px" src="{{image.image.url}}" width="500px">
        <hr>
        <br>
        <p class="card-text text-center"> image: {{image}}</p>

        <p class="card-text text-center">name : {{image.name}}</p>
        <p class="card-text text-center">caption : {{image.caption}}</p>
        <p class="card-text text-center">comments: {{image.comments}}</p>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
          <br><br>
      </div>

      


    </div>
  

    {% endfor %}
    {% endif %}
      
    {% endblock %}