{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container">

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>{{profile.user.username}}</h4><a href="" class="btn btn-sm btn-success"
                        style="float:right">Edit Profile</a>
                </div>
                <div class="card-body">
                    <img src="{{ profile.photo.url}}" alt="{{profile.user.username}}" class=" img-responsive img-fluid "
                        style="width:200px;height:200px; border-radius:50%;">

                </div>
                <div class="card-text">
                    <h3 class="text-center">Bio:</h3>
                    <p>{{ profile.bio }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span class="font-weight-bold">{{images|length}} </span> posts
                        </li>
                    </ul>
                    <div>
                        <div class="card-header"><a href="/accounts/password/change"
                                class="btn btn-sm btn-success">Change password</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- user posts -->
    <div class="row">

        {% for image in images%}
        <div class="col-md-3">
            <img src="{{ image.image.url}}" alt="" class="img-responsive img-fluid">
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}